@import 'primeng/resources/themes/saga-blue/theme.css'; /* PrimeNG teması */
@import 'primeng/resources/primeng.min.css'; /* PrimeNG stil dosyaları */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Menü genişliği */
    height: 100vh; /* Menü yüksekliği */
    background-color: #fff; /* Menü arka plan rengi */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Menü gölgesi */
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  
  .menu-visible {
    transform: translateX(0);
  }
  
  .menu-hidden {
    transform: translateX(100%);
  }
  